.containeunion {
  width: 88vw;
 
  display: flex;

  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  margin-left: 161px;
  padding: 66px;
    
    /* Gradiente animado */
    background: linear-gradient(45deg, #5d3ee7, #3b88af, #835a5a);
    background-size: 200% 200%;
    animation: gradientAnimation 7s infinite;
  }
  
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
.container1 {
  background: #0d0d0d;
  border-radius: 10px;
  width: 550px;
  height: auto;
  padding: 20px;
  margin: 10px;
  margin-right: 70px;
  margin-bottom: 5%;
}
.form-group {
 
  color: rgb(251, 251, 255);
}

.text-center{
  color: rgb(251, 251, 255);
}
.contenedor {
  background: #0d0d0d;
  border-radius: 10px;
  width: auto;
  padding: 20px;
  margin: 10px;
  padding: -200px;

} 


.btn-info{
  background: linear-gradient(to bottom, #5458a1 0%, #494fb4 100%);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50px;
}
.btn-info:hover {
  background: linear-gradient(to bottom, #ba9fce 0%, #9b4dca 100%);
  box-shadow: 0px 1px 1px rgba(121, 9, 9, 0.754);
}
.button {
  display: block;
  width: 12%;
  padding: 25px;
  cursor: pointer;
  height: 30px;
  background-color: #0069c0;
  
}

.pedido-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background: linear-gradient(to bottom right, blue, pink);
  width: auto;
  padding: 2px;

}


.pedido-block label {
  font-weight: bold;
}

.pedido-block input[type="text"],
.pedido-block input[type="date"] {
  width: auto;
  padding: 5px;
  margin-bottom: 10px;
}

.pedido-block button {
  background: #0069c0;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  flex: 1;
}

 .table {
  background: #ffffff;
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
  width: auto;
  flex: 0 0 50%;

} 
.table th,
.table td {
  border: 1px solid #000000;
  padding: 8px;
  text-align: left;
}

.table th {
  background-color: #0d0d0d;
  color: #ffffff;
  margin-top: -3px;
}
.table-bordered{
  background: #ffffff;
  border-collapse: collapse;
  width: 80%;
  box-shadow: 0px 0px 20px rgba(255, 253, 253, 0.68);
  overflow: hidden;
}
.table-bordered th,
.table-bordered td {
  border: 1px solid #000000;
  padding: 8px;
  text-align: left;
}

.table-bordered th {
  background-color: #0d0d0d;
  color: #ffffff;
  margin-top: -3px;
}
.table1 {
  background: #d4c4c4;
  border-radius: 10px;
  padding: 100px;
  margin: 10px;
  width: auto;
 

} 
.table1 th,
.table1 td {
  border: 1px solid #000000;
  padding: 8px;
  text-align: left;
}

.table1 th {
  background-color: #0d0d0d;
  color: #ffffff;
  margin-top: -3px;
}
.btnActualizar {
  background: green;
}
.icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  transition: transform 0.3s ease-in-out;

}

.btn-custom:hover .icon {
  transform: scale(1.2);
 
}
.btn-custom {
  background: linear-gradient(to bottom, #5458a1 0%, #494fb4 100%);
  border: none;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: -10px 2px;
  cursor: pointer;
  border-radius: 50px;
  
}

.btn-custom:hover {
  background: linear-gradient(to bottom, #ba9fce 0%, #9b4dca 100%);
  box-shadow: 0px 1px 1px rgba(242, 232, 232, 0.795);
}