<app-pantalla-empleado></app-pantalla-empleado>

<style>
  /* Estilos para la ventana flotante */
  .ventana-flotante {
    position: fixed;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: auto;
    height: auto;
    padding: 20px;
    border: 1px solid black;
    border-radius: 3%;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    display: none;
    /* La ventana estará oculta inicialmente */
  }
</style>

<body
  style=" display: block;float: left; background-image: linear-gradient(to top, #b71cff 0%, #3084f1 100%); width: 100%; height: 100%;">
  <div class="containeunion">

    <div class="container1">
      <h1 style="margin-bottom: 30px;">Detalles de la órden</h1>
      <div class="form-group">
        <label for="cedula" style="margin-right: 10px;">Cédula:</label>
        <input type="text" id="cedula" name="cedula" [(ngModel)]="cedula" disabled style="margin-right: 10px;">
        <button class="btn btn-info" type="submit" (click)="mostrarVentana('ventanap')">+</button>
      </div>
      <div class="form-group">
        <label for="nombre" style="margin-right: 10px;">Cliente:</label>
        <input type="text" id="nombre" name="nombre" [(ngModel)]="cliente" disabled>
      </div>
      <div class="form-group">
        <button class="btn btn-info" type="submit" (click)="mostrarVentana('ventanas')" style="margin-right: 10px;">+
          Servicio</button>
        <button class="btn btn-info" type="submit" (click)="mostrarVentana('ventanam')">+
          Maquina</button>
      </div>

      <div class="form-group">
        <label for="fecha" style="margin-right: 10px;">Fecha :</label>
        <input type="date" id="fecha" name="fecha" [(ngModel)]="currentDate" disabled>
      </div>
      <div class="form-group">
        <label for="total" style="margin-right: 10px;">Total:</label>
        <input type="text" id="total" name="total" [(ngModel)]="totalx" disabled>
      </div>
      <button class="btn btn-info" type="submit" (click)="crearOrden()" style="margin-right: 10px;">Agregar
        Órden</button>
      <button class="btn btn-info" (click)="mostrarVentana('ventanar')">Registrar Cliente</button>
    </div>

    <div class="container">
      <div id="ventanap" class="ventana-flotante">
        <div>
          <h5>Detalle de Persona</h5>
          <form id="search-form" #miFormulario="ngForm">
            <div class="input-group">
              <input type="text" [(ngModel)]="inputValue" [ngModelOptions]="{standalone: true}" class="form-control"
                placeholder="Ingrese la Cédula" aria-label="Recipient's username with two button addons">
              <button class="btn btn-outline-secondary" type="button" (click)="buscarporcedula()">Buscar</button>
              <button class="btn btn-outline-secondary" type="button" (click)="obtenerPersona()">Cancelar</button>
            </div>
          </form>
          <div class="table table-bordered" style="height: 200px; overflow-y: scroll;">
            <table>
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Cédula</th>
                  <th>Télefono</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let persona of persona">
                  <td>{{persona.nombrePer }}</td>
                  <td>{{persona.identificacion }}</td>
                  <td>{{persona.telefono }}</td>
                  <button (click)="seleccionarPersona(persona)" class="btn btn-info">+</button>
                </tr>

              </tbody>
            </table>
          </div>
          <button class="btn btn-danger" type="submit" onclick="cerrarVentanaP()">Cerrar</button>
        </div>
      </div>

      <div id="ventanas" class="ventana-flotante">

        <h5>Listado de Máquinas</h5>
        <div class="table" style="height: 300px; overflow-y: scroll;">
          <table>
            <thead>
              <tr>
                <th>Tamaño</th>
                <th>Precio U</th>
                <th>Cantidad</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let maquina of maquinas; let i = index">
                <td>{{maquina.tamano}}</td>
                <td>{{maquina.precio}}</td>
                <td>
                  <div class="spinner">
                    <input type="number" min="0" max="10" value="1" [ngModel]="cantidad_maq[i]"
                      (ngModelChange)="cantidad_maq[i] = $event">
                  </div>
                </td>
                <td>
                  <button class="btn btn-info" (click)="crearItemMaquina(maquina, cantidad_maq[i])">+</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <button class="btn btn-danger" type="submit" onclick="cerrarVentanaS()">Cerrar</button>

      </div>


      <div id="ventanam" class="ventana-flotante">
        <div>
          <h5>Listado de Servicios</h5>
          <div class="table" style="height: 300px; overflow-y: scroll;">
            <table>
              <thead>
                <tr>
                  <th>Servicio</th>
                  <th>Precio U</th>
                  <th>Cantidad</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let servicio of servicios; let i = index">
                  <td>{{servicio.nombre}}</td>
                  <td>{{servicio.precio}}</td>
                  <td>
                    <div class="spinner">
                      <input type="number" min="0" max="10" value="0" [ngModel]="cantidad_ser[i]"
                        (ngModelChange)="cantidad_ser[i] = $event">
                    </div>
                  </td>
                  <td>
                    <button class="btn btn-info" (click)="crearItemServicio(servicio, cantidad_ser[i])">+</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <button class="btn btn-danger" type="submit" onclick="cerrarVentanaM()">Cerrar</button>
        </div>
      </div>


      <div style="border-radius: 10px; padding: 5px; width: 390px;">
        <div class="table" style="height: 500px; overflow-y: scroll;">
          <div style="display: flex; padding: 10px;">
            <h5 style="margin-right:10px;">Cuadro de Selección</h5>
            <button class="btn btn-danger" (click)="eliminaritems()">Cancelar </button>
          </div>
          <table>
            <thead>
              <tr>
                <th>Servi/máquina</th>
                <th>Precio Total</th>
                <th>Cantidad</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of listaItem">
                <td>Maquina--Servico--SELECT</td>
                <td>{{item.precioTotal}}</td>

                <td>
                  {{item.cantidad}}
                </td>

              </tr>
            </tbody>
          </table>

        </div>

      </div>
    </div>


    <div id="ventanar" class="ventana-flotante">
      <h3 class="text-center">Registrar Nuevo Cliente</h3>
      <form #personaForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="nombrePer" style="margin-right: 10px;">Nombre:</label>
          <input type="text" class="form-control" id="nombrePer" [(ngModel)]="personar.nombrePer" name="nombrePer"
            required minlength="2" maxlength="50">
          <div *ngIf="personaForm.controls['nombrePer'].invalid && personaForm.controls['nombrePer'].touched"
            class="error-message">
            <div *ngIf="personaForm.controls['nombrePer'].hasError('required')">El nombre es requerido.</div>
            <div *ngIf="personaForm.controls['nombrePer'].hasError('minlength')">El nombre debe tener al menos 2
              caracteres.</div>
            <div *ngIf="personaForm.controls['nombrePer'].hasError('maxlength')">El nombre debe tener un máximo de 50
              caracteres.</div>
          </div>
        </div>

        <div class="form-group">
          <label for="direccion" style="margin-right: 10px;">Dirección:</label>
          <input type="text" class="form-control" id="direccion" [(ngModel)]="personar.direccion" name="direccion"
            required maxlength="100">
          <div *ngIf="personaForm.controls['direccion'].invalid && personaForm.controls['direccion'].touched"
            class="error-message">
            <div *ngIf="personaForm.controls['direccion'].hasError('required')">La dirección es requerida.</div>
            <div *ngIf="personaForm.controls['direccion'].hasError('maxlength')">La dirección debe tener como máximo 100
              caracteres.</div>
          </div>
        </div>

        <div class="form-group">
          <label for="telefono" style="margin-right: 10px;">Teléfono:</label>
          <input type="text" class="form-control" id="telefono" [(ngModel)]="personar.telefono" name="telefono"
            required pattern="[0-9]{7,10}">
          <div *ngIf="personaForm.controls['telefono'].invalid && personaForm.controls['telefono'].touched"
            class="error-message">
            <div *ngIf="personaForm.controls['telefono'].hasError('required')">El teléfono es requerido.</div>
            <div *ngIf="personaForm.controls['telefono'].hasError('pattern')">El teléfono debe tener entre 7 y 10
              dígitos.
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="correo" style="margin-right: 10px;">Correo:</label>
          <input type="email" class="form-control" id="correo" [(ngModel)]="personar.correo" name="correo" required
            email>
          <div *ngIf="personaForm.controls['correo'].invalid && personaForm.controls['correo'].touched"
            class="error-message">
            <div *ngIf="personaForm.controls['correo'].hasError('required')">El correo es requerido.</div>
            <div *ngIf="personaForm.controls['correo'].hasError('email')">El correo es inválido.</div>
          </div>
        </div>

        <div class="form-group">
          <label for="identificacion" style="margin-right: 10px;">Cédula:</label>
          <input type="text" class="form-control" id="identificacion" [(ngModel)]="personar.identificacion"
            name="identificacion" required pattern="[0-9]{10}">
          <div *ngIf="personaForm.controls['identificacion'].invalid && personaForm.controls['identificacion'].touched"
            class="error-message">
            <div *ngIf="personaForm.controls['identificacion'].hasError('required')">La Cédula es requerida.</div>
            <div *ngIf="personaForm.controls['identificacion'].hasError('pattern')">La Cédula debe tener 10 dígitos.
            </div>
          </div>
        </div>

        <!-- <button type="submit" class="btn btn-success" [disabled]="personaForm.invalid">Guardar</button> -->
        <button type="submit" class="btn btn-success" onclick="guardarPersona()"
          style="background-color: green;">Guardar</button>
        <button type="button" class="btn btn-danger" onclick="cerrarVentanaR()"
          style="margin-left: 10px">Cancelar</button>
      </form>

    </div>

  </div>

</body>

<script>

</script>