.containeunion {
  display: flex;
  justify-content: space-between;
  margin-left: 200px;
  margin-top: 2%;
  margin-right: 2%;
}

.container{
  margin-left: 35%;
  margin-right: 400px;
}


.container1 {
  background: #D3D3D3;
  border-radius: 10px;
  width: 550px;
  height: auto;
  padding: 20px;
  margin: 10px;
  margin-right: 70px;
  margin-bottom: 5%;
}
.form-group {
  height: 50px;
  display: flex;
  align-items:flex-start;
}


.contenedor {
  background: #D3D3D3;
  border-radius: 10px;
  width: auto;
  padding: 20px;
  margin: 10px;
  padding: -200px;

} 





.button {
  display: block;
  width: 12%;
  padding: 25px;
  cursor: pointer;
  height: 30px;
  background-color: #0069c0;
  
}

.pedido-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background: linear-gradient(to bottom right, blue, pink);
  width: auto;
  padding: 2px;

}


.pedido-block label {
  font-weight: bold;
}

.pedido-block input[type="text"],
.pedido-block input[type="date"] {
  width: auto;
  padding: 5px;
  margin-bottom: 10px;
}

.pedido-block button {
  background: #0069c0;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  flex: 1;
}

 .table {
  background: #D3D3D3;
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
  width: auto;
  flex: 0 0 50%;

} 

.btnActualizar {
  background: green;
}