

@media (max-width: 768px) {

}


@media (max-width: 768px) {

}

.pedido-block {
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    margin-left: 165px;
    padding: 206px;
    display: block;
     /* Gradiente animado */
     background: linear-gradient(45deg, #5d3ee7, #3b88af, #835a5a);
     background-size: 200% 200%;
     animation: gradientAnimation 7s infinite;
}
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.container{
  text-align: center;
  }

.pedido-block label {
  font-weight: bold;
}

.pedido-block input[type="text"],
.pedido-block input[type="date"] {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
}


.detalle-venta {
  background-color: #ffffff;
  padding: 10px;
  border-top: 1px solid #e99494;
}
.btn-custom {
  background: linear-gradient(to bottom, #1c25d7 0%, #4832eb 100%);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50px;
}
.btn-custom:hover {
  background: linear-gradient(to bottom, #ba9fce 0%, #9b4dca 100%);
  box-shadow: 0px 1px 1px rgba(121, 9, 9, 0.754);
}

.text-center{
  color: rgb(251, 251, 255);
}
.icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 1px;
  transition: transform 0.3s ease-in-out;
}

.btn-custom:hover .icon {
  transform: scale(1.2);
}


.text {
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
}
.table-container {
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
}

.custom-table {
  border-collapse: collapse; /* Colapso de bordes */
  width: 100%; /* Ancho de la tabla */
}
.custom-table {
  background: #ffffff;
  border-collapse: collapse;
  width: 100%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  animation: slideInFromLeft 0.5s ease-in-out;
}

.custom-table th,
.custom-table td {
  border: 1px solid #000000;
  padding: 8px;
  text-align: left;
}
.custom-table th {
  background-color: #000000;
  color: #ffffff;
}

.custom-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.custom-table tbody tr:hover {
  background-color: #ffffff;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}