<app-navbar></app-navbar>
<section class="pedido-block">
<h1>Administración de Servicios</h1>
<form id="search-form" #miFormulario="ngForm">

    <table class="custom-table">
        <thead>
            <tr>
                <th>Número de servicio</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Editar</th>
                <th>Eliminar</th>
               
            </tr>

        </thead>

        <tbody>
            <tr *ngFor= "let servicio of servicios">
                <td>{{servicio.idService}}</td>
                <td>{{servicio.nombre}}</td>
                <td>{{servicio.descripcion}}</td>
                <td>{{servicio.precio}}</td>
                <td>
                    <button (click)= "actualizarServicio(servicio.idService)" class="btn btn-info">Editar</button>
                </td>
                <td>
                    <button (click)= "eliminarServicio(servicio.idService)" class="btn btn-danger" style="margin-left : 10px">Eliminar</button>

                </td>
                
            </tr>

        </tbody>

    </table>
    <div style="text-align: center;">
    <button class="btn btn-info" routerLink="/registrar-servicio" style="margin-left : 10px">Crear</button>
    <button class="btn btn-danger" routerLink="/login" style="margin-left : 10px">Regresar</button>

</div>