<app-navbar></app-navbar>
<section class="pedido-block">
  <div class="container" >
<h1>Administración de Servicios</h1>
<form id="search-form" #miFormulario="ngForm">
  <div style="height: 225px; overflow-y: scroll;">
    <table class="custom-table" id="fixed-header">
        <thead>
            <tr>
                <th>Número de servicio</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Editar</th>
                <th>Eliminar</th>
               
            </tr>

        </thead>

        <tbody>
            <tr *ngFor= "let servicio of servicios">
                <td>{{servicio.idService}}</td>
                <td>{{servicio.nombre}}</td>
                <td>{{servicio.descripcion}}</td>
                <td>{{servicio.precio}}</td>
                <td>
                 
                    <button (click)= "actualizarServicio(servicio.idService)" class="btn btn-custom">
                        <span class="icon">
                          <img src="assets/imagenes/editar.png" alt="Imagen de búsqueda">
                        </span>
                       
                      </button>
                </td>
                <td>
                   
                    <button (click)= "eliminarServicio(servicio.idService)" class="btn btn-custom">
                        <span class="icon">
                          <img src="assets/imagenes/eliminar.png" alt="Imagen de búsqueda">
                        </span>
                       
                      </button>

                </td>
                
            </tr>

        </tbody>

    </table>
</div>
    <div style="text-align: center;">
  
    <button class="btn btn-custom" routerLink="/registrar-servicio" style="margin-left : 10px">
        <span class="icon">
          <img src="assets/imagenes/add.png" alt="Imagen de búsqueda">
        </span>
        <span class="text">Crear</span>
      </button>
   
    <button class="btn btn-custom" routerLink="/login" style="margin-left: 10px;">
        <span class="icon">
          <img src="assets/imagenes/home.png" alt="Imagen de búsqueda">
        </span>
        <span class="text">Regresar</span>
      </button>

