.person-block {
  background: #44a6d6;  /* fallback for old browsers */
  margin: 0;
  padding: 0;
  margin-left: 165px;
  padding: 133px;
  display: block;
}
.container{
   margin-top: -70px;
  width: 45%; 
   border-radius: 20px;
   background-color: #2a79f0;} 
.btn-custom {
  background-color: #d35dd300;
  color: #fff;
  border-radius: 1px;
  border: none;
  padding: 10px 10px;
  font-size: 13px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.btn-custom:hover {
  background-color: #7533a4;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}

.icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 1px;
  transition: transform 0.3s ease-in-out;
}

.btn-custom:hover .icon {
  transform: scale(1.2);
}

.text {
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
}
@media (max-width: 768px) {}