<app-navbar></app-navbar>
<section class="person-block">
<div class="container">
    <h3 class="text-center">Registrar Nuevo Cliente</h3>
    <form #personaForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="nombrePer">Nombre:</label>
          <input type="text" class="form-control" id="nombrePer" [(ngModel)]="persona.nombrePer" name="nombrePer" required minlength="3" maxlength="50">
          <div *ngIf="personaForm.controls['nombrePer'].invalid && personaForm.controls['nombrePer'].touched" class="error-message">
            <div *ngIf="personaForm.controls['nombrePer'].hasError('required')">El nombre es requerido.</div>
            <div *ngIf="personaForm.controls['nombrePer'].hasError('minlength')">El nombre debe tener al menos 3 a 50 caracteres.</div>
            
          </div>
        </div>
      
        <div class="form-group">
          <label for="direccion">Dirección:</label>
          <input type="text" class="form-control" id="direccion" [(ngModel)]="persona.direccion" name="direccion" required maxlength="100">
          <div *ngIf="personaForm.controls['direccion'].invalid && personaForm.controls['direccion'].touched" class="error-message">
            <div *ngIf="personaForm.controls['direccion'].hasError('required')">La dirección es requerida.</div>
            <div *ngIf="personaForm.controls['direccion'].hasError('maxlength')">La dirección debe tener como máximo 100 caracteres.</div>
          </div>
        </div>

        <div class="form-group">
            <label for="telefono">Teléfono:</label>
            <input type="text" class="form-control" id="telefono" [(ngModel)]="persona.telefono" name="telefono"  pattern="09\d{8}" step="1">
            <div *ngIf="personaForm.controls['telefono'].invalid && personaForm.controls['telefono'].touched" class="error-message">
              <div *ngIf="personaForm.controls['telefono'].hasError('required')">El teléfono es requerido.</div>
              <div *ngIf="personaForm.controls['telefono'].hasError('pattern')">El teléfono debe es incorrecto.</div>
            </div>
          </div>
        
      <div class="form-group">
          <label for="correo">Correo:</label>
          <input type="email" class="form-control" id="correo" [(ngModel)]="persona.correo" name="correo" required email>
          <div *ngIf="personaForm.controls['correo'].invalid && personaForm.controls['correo'].touched" class="error-message">
            <div *ngIf="personaForm.controls['correo'].hasError('required')">El correo es requerido.</div>
            <div *ngIf="personaForm.controls['correo'].hasError('email')">El correo es inválido.</div>
          </div>
        </div>
      
        <div class="form-group">
            <label for="identificacion">Cédula:</label>
            <input type="text" class="form-control" id="identificacion" [(ngModel)]="persona.identificacion" (change)="validadorDeCedula(identificacion)" name="identificacion" maxlength="10">
            <div *ngIf="!validador" class="text-danger">
              <div *ngIf="personaForm.controls['identificacion'].hasError('required')">La cédula es requerida.</div>
              <div *ngIf="personaForm.controls['identificacion'].hasError('pattern')">La cédula debe tener 10 dígitos.</div>
            </div>
           
          </div>
       
        
        <button onclick="guardarPersona()" class="btn btn-custom">
          <span class="icon">
            <img src="assets/imagenes/padd.png" alt="Imagen de búsqueda">
            <span class="text">Crear</span>
          </span>
         
        </button>
        
        <button type="button" class="btn btn-custom" routerLink="/lista-persona" style="margin-left: 10px">
          <span class="icon">
            <img src="assets/imagenes/cancelar.png" alt="Imagen de búsqueda">
            <span class="text">Cancelar</span>
          </span>
        </button>
      </form>

</div>
</section>