<app-navbar></app-navbar>
<section class="person-block">
<h2>Crear Cliente</h2>
<div class="col-md-6 offset-md-3">
    <h3 class="text-center">Registrar Nuevo Cliente</h3>

    <form #personaForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="nombrePer">Nombre:</label>
          <input type="text" class="form-control" id="nombrePer" [(ngModel)]="persona.nombrePer" name="nombrePer" required minlength="2" maxlength="50">
          <div *ngIf="personaForm.controls['nombrePer'].invalid && personaForm.controls['nombrePer'].touched" class="error-message">
            <div *ngIf="personaForm.controls['nombrePer'].hasError('required')">Nombre es requerido.</div>
            <div *ngIf="personaForm.controls['nombrePer'].hasError('minlength')">Nombre debe tener al menos 2 caracteres.</div>
            <div *ngIf="personaForm.controls['nombrePer'].hasError('maxlength')">Nombre debe tener como máximo 50 caracteres.</div>
          </div>
        </div>
      
        <div class="form-group">
          <label for="direccion">Dirección:</label>
          <input type="text" class="form-control" id="direccion" [(ngModel)]="persona.direccion" name="direccion" required maxlength="100">
          <div *ngIf="personaForm.controls['direccion'].invalid && personaForm.controls['direccion'].touched" class="error-message">
            <div *ngIf="personaForm.controls['direccion'].hasError('required')">Dirección es requerida.</div>
            <div *ngIf="personaForm.controls['direccion'].hasError('maxlength')">Dirección debe tener como máximo 100 caracteres.</div>
          </div>
        </div>

        <div class="form-group">
            <label for="telefono">Teléfono:</label>
            <input type="number" class="form-control" id="telefono" [(ngModel)]="persona.telefono" name="telefono" required pattern="[0-9]{7,10}">
            <div *ngIf="personaForm.controls['telefono'].invalid && personaForm.controls['telefono'].touched" class="error-message">
              <div *ngIf="personaForm.controls['telefono'].hasError('required')">Teléfono es requerido.</div>
              <div *ngIf="personaForm.controls['telefono'].hasError('pattern')">Teléfono debe tener entre 7 y 10 dígitos.</div>
            </div>
          </div>
        
      <div class="form-group">
          <label for="correo">Correo:</label>
          <input type="email" class="form-control" id="correo" [(ngModel)]="persona.correo" name="correo" required email>
          <div *ngIf="personaForm.controls['correo'].invalid && personaForm.controls['correo'].touched" class="error-message">
            <div *ngIf="personaForm.controls['correo'].hasError('required')">Correo es requerido.</div>
            <div *ngIf="personaForm.controls['correo'].hasError('email')">Correo inválido.</div>
          </div>
        </div>
      
        <div class="form-group">
            <label for="identificacion">Identificación:</label>
            <input type="number" class="form-control" id="identificacion" [(ngModel)]="persona.identificacion" name="identificacion" required pattern="[0-9]{11}">
            <div *ngIf="personaForm.controls['identificacion'].invalid && personaForm.controls['identificacion'].touched" class="error-message">
              <div *ngIf="personaForm.controls['identificacion'].hasError('required')">Identificación es requerida.</div>
              <div *ngIf="personaForm.controls['identificacion'].hasError('pattern')">Identificación debe tener 11 dígitos.</div>
            </div>
          </div>
      
        <!-- <button type="submit" class="btn btn-success" [disabled]="personaForm.invalid">Guardar</button> -->
        <button type="submit" class="btn btn-success" onclick="guardarPersona()" style="background-color: green;">Guardar</button>
        <button type="button" class="btn btn-danger" routerLink="/dashboard" style="margin-left: 10px">Cancelar</button>
      </form>

</div>
</section>