<app-navbar></app-navbar>
<section class="pedido-block">
  <h1>Lista de ventas</h1>
  <form id="search-form" #miFormulario="ngForm">
    <label for="search-fecha">Búsqueda de fecha:</label>
    <input type="date" [(ngModel)]="fechaInicio" name="fechaInicio" placeholder="Fecha de inicio" (blur)="verificarInput()">
    <input type="date" [(ngModel)]="fechaFin" name="fechaFin" placeholder="Fecha de fin" (blur)="verificarInput()">

    <button class="btn btn-custom" (click)="buscarPorFechas()">
      <span class="icon">
        <img src="assets/imagenes/buscar.png" alt="Imagen de búsqueda">
      </span>
      <span class="text">Buscar</span>
    </button>
     
    <button class="btn btn-custom" (click)="limpiarYRecargar()">
      <span class="icon">
        <img src="assets/imagenes/restablecer.png" alt="Imagen de búsqueda">
      </span>
      <span class="text">Restaurar</span>
    </button>

  <div class="total">
    <h3>Total de ventas: $ {{total | number}}</h3>
  </div>
  </form>

  <div style="height: 130px; overflow-y: scroll;">
    <table class="custom-table" id="fixed-header">
      <thead>
        <tr>
          <th>Número de Factura</th>
          <th>Fecha</th>
          <th>Tipo de Pago</th>
          <th>Subtotal</th>
          <th>Descuento</th>
          <th>IVA</th>
          <th>Total</th>
          <th>Persona</th>
          <th>Configuración</th>
          <th>Ver Detalles</th>
        </tr>
      </thead>
      <tbody>
      <tr *ngFor="let venta of ventas">
        <td>{{venta.idVenta}}</td>
        <td>{{venta.fecha}}</td>
        <td>{{venta.tipoPago}}</td>
        <td>{{venta.subtotal}}</td>
        <td>{{venta.descuento}}</td>
        <td>{{venta.iva}}</td>
        <td>{{venta.total}}</td>
        <td>{{venta.personaf.nombrePer}}</td>
        <td>{{venta.configEmpresa.nombreEmpresa}}</td>
       
        <td>
          <img src="assets/imagenes/ver.png" alt="Imagen de venta" 
               (click)="verVenta(venta.idVenta)" 
               style="width: 40px; height: 40px;" />
        </td>
      </tr>
    </tbody>
  </table>
</div>