

@media (max-width: 768px) {

}

.pedido-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #3b88af;
  padding: 0;
  margin-left: 165px;
  padding: 161px;
  display: block;
}
.pedido-block .container {
  background: #D3D3D3;
  border-radius: 10px;
  width: 40%;
  padding: 20px;
  margin: 10px auto;
}
.pedido-block label {
  font-weight: bold;
}

.pedido-block input[type="text"],
.pedido-block input[type="date"] {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
}
.btn-custom {
  background-color: #d35dd300;
  color: #fff;
  border-radius: 1px;
  border: none;
  padding: 5px 5px;
  font-size: 13px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.btn-custom:hover {
  background-color: #7533a4;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}

.icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 1px;
  transition: transform 0.3s ease-in-out;
}

.btn-custom:hover .icon {
  transform: scale(1.2);
}

.text {
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
}



.custom-table {
  border-collapse: collapse; /* Colapso de bordes */
  width: 100%; /* Ancho de la tabla */
}
.custom-table {
  background: #D3D3D3;
  padding: 20px;
  margin: 10px auto;
  width: 100%;
}
.custom-table th, .custom-table td {
  border: 1px solid #000000; /* Borde de celda */
  padding: 7px; /* Espaciado interno */
  text-align: left; /* Alineación del texto */
}

.custom-table th {
  background-color: #065eb6; /* Color de fondo de encabezado */
}

.custom-table tr:nth-child(even) {
  background-color: #f9f9f9; /* Color de fondo de filas pares */
}

.custom-table tr:hover {
  background-color: #98d6e7; /* Color de fondo al pasar el cursor */
}
#fixed-header {
  position: relative;
}

#fixed-header thead {
  position: sticky;
  top: 0;
  background-color: white;
}

