<app-navbar></app-navbar>

<section class="pedido-block">
    <h1>Administración de Máquinas</h1>
     <form id="search-form" #miFormulario="ngForm">
    <table class="custom-table">
   
            <thead>
            <tr>
                <th>Número de máquina</th>
                <th>Tamaño</th>
                <th>Precio</th>
                <th>Editar</th>
                <th>Eliminar</th>
    
            </tr>

        </thead>

        <tbody>
            <tr *ngFor= "let maquina of maquinas">
                <td>{{maquina.idMaq}}</td>
                <td>{{maquina.tamano}}</td>
                <td>{{maquina.precio}}</td>
                <td>
                    <button (click)= "actualizarMaquina(maquina.idMaq)" class="btn btn-info">Editar</button>
                </td>
                <td>
                <button (click)= "eliminarMaquina(maquina.idMaq)" class="btn btn-danger" style="margin-left : 10px">Eliminar</button>
            </td>
            </tr>

        </tbody>

    </table>
    <div style="text-align: center;">
        <button class="btn btn-info" routerLink="/registrar-maquina" style="margin-left: 10px;">Crear</button>
        <button class="btn btn-danger" routerLink="/login" style="margin-left: 10px;">Regresar</button>
    </div>