.container {
  margin-left: 165px; /* Ajusta este valor según el espacio que deseas dejar en el lado izquierdo */
  padding: 223px;
  background-image: linear-gradient(to top, #a918bd 0%, #3189fd 100%);
 
}

@media (max-width: 768px) {
  /* Ajusta los estilos para pantallas más pequeñas si es necesario */
}
