<app-navbar></app-navbar>
<section class="maquina-block">
  <div class="container" >
    <h1>Administración de Máquinas</h1>
     <form id="search-form" #miFormulario="ngForm">
      <div style="height: 225px; overflow-y: scroll;">
        <table class="custom-table" id="fixed-header">
   
            <thead>
            <tr>
                <th>Número de máquina</th>
                <th>Tamaño</th>
                <th>Precio</th>
                <th>Editar</th>
                <th>Eliminar</th>
    
            </tr>

        </thead>

        <tbody>
            <tr *ngFor= "let maquina of maquinas">
                <td>{{maquina.idMaq}}</td>
                <td>{{maquina.tamano}}</td>
                <td>{{maquina.precio}}</td>
                <td>
                   
                    <button (click)= "actualizarMaquina(maquina.idMaq)" class="btn btn-custom">
                        <span class="icon">
                          <img src="assets/imagenes/editar.png" alt="Imagen de búsqueda">
                        </span>
                       
                      </button>
                </td>
                <td>
           
                <button (click)= "eliminarMaquina(maquina.idMaq)" class="btn btn-custom">
                    <span class="icon">
                      <img src="assets/imagenes/eliminar.png" alt="Imagen de búsqueda">
                    </span>
                   
                  </button>
            </td>
            </tr>

        </tbody>

    </table>
</div>
    <div style="text-align: center;">
        
        <button class="btn btn-custom" routerLink="/registrar-maquina"  style="margin-left: 10px;">
            <span class="icon">
              <img src="assets/imagenes/add.png" alt="Imagen de búsqueda">
            </span>
            <span class="text">Crear</span>
          </button>
      
        <button class="btn btn-custom" routerLink="/login" style="margin-left: 10px;">
            <span class="icon">
              <img src="assets/imagenes/home.png" alt="Imagen de búsqueda">
            </span>
            <span class="text">Regresar</span>
          </button>
    </div>