<app-navbar></app-navbar>
<section class="pedido-block">
    <div class="container">
        <h3 class="text-center">Configuración de la empresa</h3>
        <div class="form-group">
            <label >Nombre de la empresa:</label>
            <input type="text"  class="form-control" id="nombreEmpresa" 
            [(ngModel)] ="empresas.nombreEmpresa" name="nombreEmpresa" 
            placeholder="Dijite un nuevo nombre" #nombreEmpresa = "ngModel">
        </div>

        <div class="form-group">
            <label >Ruc:</label>
            <input type="text" class="form-control" id="ruc" 
            [(ngModel)] ="empresas.ruc" name="ruc"
            placeholder="Dijite un nuevo Ruc" #ruc = "ngModel">
        </div>

        <div class="form-group">
            <label >Dirección:</label>
            <input type="text" class="form-control" id="ubicacion" 
            [(ngModel)] ="empresas.ubicacion" name="ubicacion"
            placeholder="Dijite una nueva Dirección" #ubicacion = "ngModel">
        </div>

        <div class="form-group">
            <label >Teléfono:</label>
            <input type="text" class="form-control" id="telefono" 
            [(ngModel)] ="empresas.telefono" name="telefono"
            placeholder="Dijite un nuevo teléfono" #telefono = "ngModel">
        </div>
        <div class="form-group">
            <label for="iva">Iva:</label>
            <input type="number" class="form-control" id="iva" [(ngModel)]="empresas.iva" name="iva" 
             placeholder="Ingrese el iva" #iva="ngModel" required step="0.01">
        </div>
        
   
    <button  (click)="onSubmit()" class="btn btn-custom">
        <span class="icon">
          <img src="assets/imagenes/save.png" alt="Imagen de búsqueda">
          <span class="text">Guardar</span>
        </span>
       
      </button>
   
        <button type="button" class="btn btn-custom" routerLink="/config-empresa"style="margin-left: 10px">
            <span class="icon">
              <img src="assets/imagenes/cancelar.png" alt="Imagen de búsqueda">
              <span class="text">Cancelar</span>
            </span>
          </button>
    </div>
</section>