.pedido-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to top, #4d01c7 0%, #65a3f3 100%);
    padding: 80px ;
    display: block;
    margin-left: 176px;

}
.container {
    background: #D3D3D3;
    border-radius: 10px;
    width: 40%;
    padding: 20px;
    margin: 10px;
    

  }