.pedido-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    margin-left: 165px;
    padding: 80px;
    display: block;
     /* Gradiente animado */
     background: linear-gradient(45deg, #5d3ee7, #3b88af, #835a5a);
     background-size: 200% 200%;
     animation: gradientAnimation 7s infinite;
}
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

   .btn-custom {
    background: linear-gradient(to bottom, #1c25d7 0%, #4832eb 100%);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50px;
  }
  
  .btn-custom:hover {
    background: linear-gradient(to bottom, #ba9fce 0%, #9b4dca 100%);
    box-shadow: 0px 1px 1px rgba(121, 9, 9, 0.754);
  }
  .form-group {
    color: rgb(251, 251, 255);
  }
  .text-center{
    color: rgb(251, 251, 255);
  }
  .container{
    margin-top: -70px;
   width: 45%; 
    border-radius: 20px;
    background-color: #1d1c2b;
   } 