
<section class="pedido-block">
    <h1>Configuración de la empresa</h1>
    <div class="container">
        <div class="form-group">
            <label >Nombre de la empresa:</label>
            <input type="text"  class="form-control" id="nombreEmpresa" 
            [(ngModel)] ="empresas.nombreEmpresa" name="nombreEmpresa" 
            placeholder="Dijite un nuevo nombre" #nombreEmpresa = "ngModel">
        </div>

        <div class="form-group">
            <label >Ruc:</label>
            <input type="text" class="form-control" id="ruc" 
            [(ngModel)] ="empresas.ruc" name="ruc"
            placeholder="Dijite un nuevo Ruc" #ruc = "ngModel">
        </div>

        <div class="form-group">
            <label >Dirección:</label>
            <input type="text" class="form-control" id="ubicacion" 
            [(ngModel)] ="empresas.ubicacion" name="ubicacion"
            placeholder="Dijite una nueva Dirección" #ubicacion = "ngModel">
        </div>

        <div class="form-group">
            <label >Teléfono:</label>
            <input type="text" class="form-control" id="telefono" 
            [(ngModel)] ="empresas.telefono" name="telefono"
            placeholder="Dijite un nuevo teléfono" #telefono = "ngModel">
        </div>

        <button class="btn btn-success" (click)="onSubmit()">Guardar</button>
        <button class="btn btn-danger" routerLink="/config-empresa">Cancelar</button>
    </div>
</section>