
<section class="pedido-block">
    <h1>Configuracion de la Empresa</h1>
    <div class="container">
        <div class="form-group">
            <label >Nombre de la empresa:</label>
            <input type="text" class="form-control" id="nombreEmpresa" 
            [(ngModel)] ="empresas.nombreEmpresa" name="nombreEmpresa" 
            placeholder="Dijite un nuevo nombre" #nombreEmpresa = "ngModel">
        </div>

        <div class="form-group">
            <label >Ruc:</label>
            <input type="text" class="form-control" id="ruc" 
            [(ngModel)] ="empresas.ruc" name="ruc"
            placeholder="Dijite un nuevo Ruc" #ruc = "ngModel">
        </div>

        <div class="form-group">
            <label >Direccion:</label>
            <input type="text" class="form-control" id="ubicacion" 
            [(ngModel)] ="empresas.ubicacion" name="ubicacion"
            placeholder="Dijite una nueva Direccion" #ubicacion = "ngModel">
        </div>

        <div class="form-group">
            <label >Telefono:</label>
            <input type="text" class="form-control" id="telefono" 
            [(ngModel)] ="empresas.telefono" name="telefono"
            placeholder="Dijite un nuevo telefono" #telefono = "ngModel">
        </div>

        <button class="btn btn-success" (click)="onSubmit()">Guardar Empresa</button>
        <button class="btn btn-danger" routerLink="/config-empresa">Cancelar</button>
    </div>
</section>