<app-pantalla-empleado></app-pantalla-empleado>
<div class="containeunion">
    <div class="container">
        <h2>Generar Ventas</h2>
        <div class="sidebar">
            <h6>Lista de Personas</h6>
            <form id="search-form" #miFormularioP="ngForm">
                <label for="search-client" style="margin-right: 10px;">Búsqueda de persona:</label>
                <input type="text" [(ngModel)]= "inputValueP" name="miInput" placeholder="Ingrese la Cedula"
                    (blur)="verificarInputP()" style="height: 37px;">

                <button class="btn btn-info" (click)= "buscarPersonaPorcedula()" type="button"
                    style="margin-left: 10px;">Buscar</button>
                <button class="btn btn-danger" (click)="obtenerPersona()"
                    style="margin-left : 10px;background-color: brown; margin: 10px; width: fit-content;">Cancelar</button>
            </form>
        </div>
        <div class="table" style="height: 235px; overflow-y: scroll;">
            <table>
                <thead>
                    <tr>
                        <th>Nombre de la persona</th>
                        <th>Correo Electronico</th>
                        <th>Cédula</th>
                        <th>Dirección</th>
                        <th>Número Telefónico</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let persona of listaPersona">
                        <td>{{persona.nombrePer}}</td>
                        <td>{{persona.correo}}</td>
                        <td>{{persona.identificacion}}</td>
                        <td>{{persona.direccion}}</td>
                        <td>{{persona.telefono}}</td>
                        <td><button class="btn btn-info" (click)="seleccionarPersona(persona)">Seleccionar</button></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="sidebar">
            <h6>Lista de órdenes</h6>
            <form id="search-form" #miFormulario="ngForm">
                <label for="search-client" style="margin-right: 10px;">Búsqueda de órdenes:</label>
                <input type="text" [(ngModel)]="inputValue" name="miInput" placeholder="Ingrese la Cedula"
                    (blur)="verificarInput()" style="height: 37px;">

                <button class="btn btn-info" (click)="buscarVentaPorCedula()" type="submit"
                    style="margin-left: 10px;">Buscar</button>
                <button class="btn btn-danger" (click)="obtenerOrden()"
                    style="margin-left : 10px;background-color: brown; margin: 10px; width: fit-content;">Cancelar</button>
            </form>
        </div>
        <div class="table" style="height: 210px; overflow-y: scroll;">
            <table>
                <thead>
                    <tr>
                        <th>Número de órden</th>
                        <th>Estado</th>
                        <th>Total de la órden</th>
                        <th>Cédula</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let orden of ordenesV">
                        <td>{{orden.idOrden}}</td>
                        <td>{{ obtenerTextoEstado(orden.estado) }}</td>
                        <td>{{orden.totalOrden}}</td>
                        <td>{{orden.personaO.identificacion}}</td>
                        <td>
                            <button class="btn" 
        [ngClass]="{'btn-info': !botonesSeleccionados[orden.idOrden], 'btn-danger': botonesSeleccionados[orden.idOrden], 'boton-seleccionado': botonesSeleccionados[orden.idOrden]}"
        (click)="cambiarEstadoBoton(orden)">
  {{ botonesSeleccionados[orden.idOrden] ? 'Quitar Orden' : 'Seleccionar orden' }}
</button>
                          </td>
                    </tr>
                </tbody>

            </table>
        </div>


    </div>

    <div class="container1">
        <div class="form-group">
            <label for="empresa" style="margin-right: 10px;">Empresa: </label>
            <select id="empresa" name="empresa" class="form-control" [(ngModel)]="empresaSeleccionada" [compareWith]="compareEmpresa">
              <option *ngFor="let empresa of empresas" [ngValue]="empresa">{{ empresa.nombreEmpresa }}</option>
            </select>
          </div>
        <div class="form-group">
            <label for="cedula" style="margin-right: 10px;">Cedula:</label>
            <input type="text" id="cedula" name="cedula" [(ngModel)]="cedulaV" disabled>
        </div>
        <div class="form-group">
            <label for="nombre" style="margin-right: 10px;">Cliente:</label>
            <input type="text" id="nombre" name="nombre" [(ngModel)]="clienteV" disabled>
        </div>

        <ng-container *ngIf="ordenesSeleccionadas.length > 0">
            <label >Órdenes seleccionadas:
                <span *ngFor="let orden of ordenesSeleccionadas; let last = last">
                    {{ orden.idOrden }}{{ last ? '' : ',' }}
                </span>
            </label>
        </ng-container>

        <div class="form-combo">
            <label for="telefono" style="margin-right: 10px;">Fecha: </label>
            <input type="date" id="telefono" name="telefono" pattern="[0-9]{7,10}" [(ngModel)]="fechaActual">
        </div>

        <div class="form-group">
            <label for="tipoPago" style="margin-right: 5px;">Tipo de pago:</label>
            <select class="form-control" id="tipoPago" name="tipoPago" [(ngModel)]="tipoPagoSeleccionado">
              <option value="efectivo">Efectivo</option>
              <option value="tarjeta">Tarjeta</option>
              <option value="transferencia">Transferencia</option>
            </select>
          </div>

          <div class="form-group">
            <label for="nombre" style="margin-right: 20px;">Descuento: </label>
            <div>
              <input type="radio" id="descuentoSi" name="descuento" value="si" (change)="actualizarDescuento($event)">
              <label for="descuentoSi" style="margin-right: 10px;margin-left: 5px;">Sí</label>
            </div>
            <div>
              <input type="radio" id="descuentoNo" name="descuento" value="no" (click)="actualizarDescuentoNo()"checked>
              <label for="descuentoNo" style="margin-left: 5px;">No</label>
            </div>
          </div>
          
          <div *ngIf="descuento === 'si'">
            <label for="descuentoSeleccionado" style="margin-right: 10px;">Tipo de Descuento: </label>
            <select id="descuentoSeleccionado" name="descuentoSeleccionado" [(ngModel)]="descuentoSeleccionado" (ngModelChange)="actualizarDescuentoNumero()">
              <option value="secado gratis">Secado Gratis</option>
              <option value="productos gratis">Productos Gratis</option>
              <option value="doblado gratis">Doblado Gratis</option>
            </select>
          </div>

        <div class="form-group">
            <label for="telefono" style="margin-right: 5px;">Subtotal: </label>
            <input type="text" class="form-control" id="telefono" name="telefono" [value]="sumaTotalOrden.toFixed(2)" disabled>
        </div>

        <div class="form-group">
            <label for="telefono" style="margin-right: 5px;">Iva:</label>
            <input *ngIf="empresaSeleccionada" type="text" class="form-control" id="telefono" name="telefono" pattern="[0-9]{7,10}" [(ngModel)]="empresaSeleccionada.iva" disabled>
          </div>

        <div class="form-group">
            <label for="telefono" style="margin-right: 5px;">Total:</label>
            <input type="text" class="form-control" id="telefono" name="telefono" pattern="[0-9]{7,10}" [value]="finalin | number:'1.2-2'" disabled>
        </div>
        <button (click)="crearventa()" type="submit" class="btn btn-success" style="background-color: green;">Guardar Venta</button>
    </div>

</div>