.containeunion {
    display: flex;
    justify-content: space-between;
    margin-left: 170px;
    padding: 43px;
    background: linear-gradient(45deg, #5d3ee7, #3b88af, #835a5a);
    background-size: 200% 200%;
    animation: gradientAnimation 7s infinite;
}
@keyframes gradientAnimation {
 0% {
   background-position: 0% 50%;
 }
 50% {
   background-position: 100% 50%;
 }
 100% {
   background-position: 0% 50%;
 }
}

.container1 {
    background: #1d1c2b;
    border-radius: 20px;
    width: 455px;
    height: 45%;
   
    margin: 10px;
    margin-right: 1px;
    margin-top: 1px;
}
.form-group {
    color: rgb(251, 251, 255);
  }

.text-center{
    color: rgb(251, 251, 255);
  }


.pedido-block label {
    font-weight: bold;
}

.pedido-block input[type="text"],
.pedido-block input[type="date"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

.pedido-block button {
    background: #0069c0;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    flex: 1;
}



.btnActualizar {
    background: rgb(95, 146, 95);
}


.form-control {
    width: 300px;
    /* Cambiar el ancho del campo de entrada */
    height: 30px;
    /* Cambiar la altura del campo de entrada */
}

.form-group {
    height: 55%;
    display: flex;
    align-items: center;
    width: 200px;
}
.form-combo {
    height: 200%;
    display: flex;
    align-items: center;
    width: 250px;
}
.boton-seleccionado {
    background-color: red; /* Cambia el color según tu preferencia */
    color: white; /* Cambia el color del texto según tu preferencia */
  }

.input {
    margin-left: 20px;
}

#fixed thead {
    position: sticky;
    top: -1px;
    background-color: #fff;
    z-index: 1;
  }
  
  /* Set table height and enable scrolling */
  #fixed {
    height: 225px;
    overflow-y: scroll;
  }
  .custom-table {
    background: #ffffff;
    border-collapse: collapse;
    width: 100%;
    box-shadow: 0px 0px 20px rgba(255, 253, 253, 0.68);
    overflow: hidden;
  
  }
  
  .custom-table th,
  .custom-table td {
    border: 1px solid #000000;
    padding: 8px;
    text-align: left;
  }
  
  .custom-table th {
    background-color: #262525;
    color: #ffffff;
    margin-top: -3px;
  }
  
  .custom-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .custom-table tbody tr:hover {
    background-color: #ffffff;
  }
  .btn-custom {
    background: linear-gradient(to bottom, #5458a1 0%, #494fb4 100%);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50px;
  }
  .text-center{
    color: rgb(251, 251, 255);
  }
  .btn-custom:hover {
    background: linear-gradient(to bottom, #ba9fce 0%, #9b4dca 100%);
    box-shadow: 0px 1px 1px rgba(242, 232, 232, 0.795);
  }