<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="javascript:void(0);" routerLink="/">LAVATEC</a>
 
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <ng-container *ngIf="this.auth.isAuthenticated(); then authenticated; else notAuthenticated"></ng-container>
      
      <ng-template #notAuthenticated>
        <li class="nav-item"><a href="javascript:void(0);" routerLink="/login" class="nav-link">Acceder</a></li>
        
      </ng-template>
      
      <ng-template #authenticated>
        <li class="nav-item"><a href="javascript:void(0);" routerLink="/dashboard" class="nav-link">Panel</a></li>
        <li class="nav-item"><a href="javascript:void(0);" (click)="logout()" class="nav-link">Cerrar Sesión</a></li>
        <!--<li class="nav-item"><a href="javascript:void(0);" routerLink="/register" class="nav-link">Registrar</a></li>-->
      </ng-template>
    </ul>
  </div>


<div class="sidebar">
  <div class="button-container">
    <button class="button" (click)="RegistraCliente()">Registrar Cliente</button>
    <button class="button" (click)="RegistraMaquina()">Administración Máquinas</button>
    <button class="button" (click)="Venta()">Reporte Ventas</button>
    <button class="button" (click)="Orden()">Revisar Órdenes</button>
    <button class="button" (click)="Config()">Configuración Empresa</button>
    <button class="button" (click)="CrearEmple()">Crear Empleado</button>
    <button class="button" (click)="AdminServicio()">Administrar Servicios</button>
  </div>


</div>

</nav>
</body>