 .sidebar {
    display: flex;
    position: absolute;
    top: 27px;
    left: 100px;
    width: 0px;
    background-color: #f2f2f2;
    padding: 15px;
    width: 200px;
    background-color: #1844d6;
    margin-left: -121px; 
    margin-top: 49px;
    
  }
 
  .button-container {
    padding: 5px;
    border-bottom: 1px solid #ffffff; /* Agregar una línea divisoria inferior */
  }
  .button-container:last-child {
    border-bottom: none; /* Quitar la línea divisoria inferior del último contenedor */
  }
  .button-container {
    display: flex;
    flex-direction: column;
    border: #b8babbfd;
    
  }
  
  .button {
    margin-bottom: 10px;
  }
  

  .button {
    display: block;
    width: 90%;
    padding: 25px;
    border: none;
    background-color: transparent;
    text-align: left;
    cursor: pointer;
    height: 77px;
  }
  
  .button:hover {
    background: linear-gradient(to bottom, #5c8dce, #5c8dce);
  }
  .custom-navbar-color {
    background-color: #000000;
     /* Cambia este valor por el color que desees */
  }
  .logout-btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 20;
    right: 0;
  }
  
  