<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <!-- <a class="navbar-brand" href="javascript:void(0);" routerLink="/">LAVATEC</a> -->
  <a class="navbar-brand" href="javascript:void(0);" routerLink="/dashboard">
    <img src="assets/imagenes/logo.png" width="60" height="60">
  </a>
  
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <ng-container *ngIf="this.auth.isAuthenticated(); then authenticated; else notAuthenticated"></ng-container>
      
      <ng-template #notAuthenticated>
        <li class="nav-item"><a href="javascript:void(0);" routerLink="/login" class="nav-link">Acceder</a></li>
        
      </ng-template>
      
      <ng-template #authenticated>
        <li class="navbar-brand"><a href="javascript:void(0);" routerLink="/dashboard" class="nav-link">LAVATEC</a></li>
        <div class="logout-btn">
          <li class="nav-item"><a href="javascript:void(0);" (click)="logout()" class="nav-link">
            <img src="assets/imagenes/exitt.png" width="48" height="48">
          </a></li>
        </div>
        <!--<li class="nav-item"><a href="javascript:void(0);" routerLink="/register" class="nav-link">Registrar</a></li>-->
      </ng-template>
    </ul>
  </div>


<div class="sidebar">
  <div class="button-container">
    <button class="button" (click)="RegistraCliente()">Registrar cliente</button>
    <button class="button" (click)="RegistraMaquina()">Administración de máquina</button>
    <button class="button" (click)="Venta()">Reporte de ventas</button>
    <button class="button" (click)="Orden()">Revisar órdenes</button>
    <button class="button" (click)="Config()">Configuración de empresa</button>
    <button class="button" (click)="CrearEmple()">Crear empleado</button>
    <button class="button" (click)="AdminServicio()">Administrar servicios</button>
    <button class="button"(click)="informaciones()">Infromación</button>
  </div>


</div>

</nav>
</body>