<body>
  <nav class="navbar navbar-expand-md navbar-dark custom-navbar-color">

  <!-- <a class="navbar-brand" href="javascript:void(0);" routerLink="/">LAVATEC</a> -->
  <a class="navbar-brand" href="javascript:void(0);" >
    <img src="assets/imagenes/logo.png" width="60" height="50">
  </a>
  
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <ng-container *ngIf="this.auth.isAuthenticated(); then authenticated; else notAuthenticated"></ng-container>
      
      <ng-template #notAuthenticated>
        <li class="nav-item"><a href="javascript:void(0);" routerLink="/login" class="nav-link">Acceder</a></li>
        
      </ng-template>
      
      <ng-template #authenticated>
        <li class="navbar-brand"><a href="javascript:void(0);" class="nav-link">LAVATEC</a></li>
        <div class="logout-btn">
          <li class="nav-item">
            <a href="javascript:void(0);" (click)="logout()" class="nav-link">
              <img src="assets/imagenes/exitt.png" width="48" height="48" class="animated-image">
            </a>
          </li>
        </div>
      </ng-template>
    </ul>
  </div>


  <div class="sidebar">
    <div class="button-container">
      <button class="button" (click)="RegistraCliente()">
        <div class="button-content">
          <img src="assets/imagenes/padd.png" alt="Registrar cliente" class="button-icon button-icon-circle">
          <div class="button-text">Registrar cliente</div>
        </div>
      </button>
  
      <button class="button" (click)="RegistraMaquina()">
        <div class="button-content">
          <img src="assets/imagenes/config.png" alt="Administración de máquina" class="button-icon button-icon-circle">
          <div class="button-text">Administración de máquina</div>
        </div>
      </button>
  
      <button class="button" (click)="Venta()">
        <div class="button-content">
          <img src="assets/imagenes/orden.png" alt="Reporte de ventas" class="button-icon button-icon-circle">
          <div class="button-text">Revisar ventas</div>
        </div>
      </button>
  
      <button class="button" (click)="Orden()">
        <div class="button-content">
          <img src="assets/imagenes/orden.png" alt="Revisar órdenes" class="button-icon button-icon-circle">
          <div class="button-text">Revisar órdenes</div>
        </div>
      </button>
  
      <button class="button" (click)="Config()">
        <div class="button-content">
          <img src="assets/imagenes/em.png" alt="Configuración de empresa" class="button-icon button-icon-circle">
          <div class="button-text">Configuración de empresa</div>
        </div>
      </button>
  
      <button class="button" (click)="CrearEmple()">
        <div class="button-content">
          <img src="assets/imagenes/empl.png" alt="Crear empleado" class="button-icon button-icon-circle">
          <div class="button-text">Crear empleado</div>
        </div>
      </button>
  
      <button class="button" (click)="AdminServicio()">
        <div class="button-content">
          <img src="assets/imagenes/serv.png" alt="Administrar servicios" class="button-icon button-icon-circle">
          <div class="button-text">Administrar servicios</div>
        </div>
      </button>
  
      <button class="button" (click)="informaciones()">
        <div class="button-content">
          <img src="assets/imagenes/info.png" alt="Información" class="button-icon button-icon-circle">
          <div class="button-text">Información</div>
        </div>
      </button>
    </div>
  

    
  </div>




</nav>
</body>