
<section class="login-block">
  <div class="container">
    <div class="row">
      <div class="col login-sec">
        <h2 class="text-center">Iniciar sesión</h2>
        <form class="login-form" action="" #f="ngForm" novalidate (ngSubmit)="f.form.valid && onSubmit()">
          <div class="form-group">
            <label for="exampleInputEmail1" class="text">Username</label>
            <input type="email" class="form-control" name="username" id="" placeholder="user" [(ngModel)]="formdata.username" #username="ngModel" required>
            <span class="text-danger" *ngIf="f.submitted && username.errors?.['required']">
              Se requiere el Username.
            </span>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1" class="text">Clave</label>
            <input class="form-control" type="password" name="password" placeholder="clave" id="" [(ngModel)]="formdata.clave" #clave="ngModel" required>
            <span class="text-danger" *ngIf="f.submitted && clave.errors?.['required']">
              Se requiere la Clave.
            </span>
          </div>
          <div class="form-group">
            <div class="text-center" *ngIf="loading">
              <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Cargando...</span>
              </div>
            </div>
            <span class="text-danger" *ngIf="errorMessage">
              <p>{{ errorMessage }}</p>
            </span>
            <input type="submit" class="btn btn-login float-right" [disabled]="loading" value="Ingresar">
             
          </div>
          <div class="background-container">
   
          </div>
          <div class="clearfix"></div>
          
        </form>
      </div>
    </div>
  </div>
</section>
