.login-block{
  float:left;
  width:100%;
  padding : 130px 0;
  position: fixed;
}
.login-block {
  background-image: url('/assets/imagenes/fondoregistro.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #303f9f;
  
}
.login-block label {
  text-align: center;
  font-weight:bold;
  color: rgb(1, 1, 2);
  font-size: 17px;
}
.background-container {
  content: "";
  position: absolute;
  bottom: -194px;
  left: 50%;
  transform: translateX(-50%);
  width: 980%;
  height: 50%;
  pointer-events: none;
  background-repeat: repeat;
  animation: bubbles 10s infinite;
  background-color: #303f9f;
  border-radius: 5px;}
.container{width: 30%;  border-radius: 20px; background-color: #2032a3;} 
.login-sec{padding: 40px 30px; position:relative;}
.login-sec h2{margin-bottom:30px; font-weight:800; font-size:30px; color: #0069c0;}
.login-sec h2:after{content:" "; width:100px; height:5px; background:#6ec6ff; display:block; margin-top:20px; border-radius:3px; margin-left:auto;margin-right:auto}
.btn-login{background: #0069c0; color:#fff; font-weight:600;}
