.login-block {
  float: left;
  width: 100%;
  padding: 170px 0;
  position: fixed;
}

.login-block {
  background-image: linear-gradient(to bottom, rgb(82, 127, 185), rgb(151, 68, 218), rgb(72, 206, 251));
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  animation: color-animation 5s infinite, bg-scale-animation 10s infinite;
}

@keyframes color-animation {
  0% {
    background-image: linear-gradient(to bottom, rgb(56, 197, 188), rgb(39, 50, 145), rgb(0, 6, 57));
  }
  50% {
    background-image: linear-gradient(to bottom, rgb(58, 71, 189), rgb(73, 82, 167), rgb(26, 109, 160));
  }
  100% {
    background-image: linear-gradient(to bottom, rgb(75, 86, 185), rgb(101, 115, 243), rgb(100, 115, 243));
  }
}

@keyframes bg-scale-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* .login-block {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../../assets/imagenes/fondo.gif');
  
  
} */
.login-block label {
  text-align: center;
  font-weight:bold;
  color: rgb(0, 0, 0);
  font-size: 17px;
}
.background-container {
  content: "";
  position: absolute;
  bottom: -194px;
  left: 50%;
  transform: translateX(-50%);
  width: 980%;
  height: 50%;
  pointer-events: none;
  background-repeat: repeat;
  animation: bubbles 10s infinite;
  background-color: #303f9f;
  border-radius: 5px;
}
.container{width: 30%;  border-radius: 20px;  background: linear-gradient(to bottom, #a6c7f1, #665aab);} 
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Aplicar la animaci贸n a .login-sec */
.login-sec {
  padding: 40px 30px;
  position: relative;
  animation: fadeIn 1s ease-in-out; /* Nombre de la animaci贸n, duraci贸n y funci贸n de tiempo */
}

.login-sec h2 {
  margin-bottom: 30px;
  font-weight: 800;
  font-size: 30px;
  color: #000000;
}
.login-sec h2:after{content:" "; width:100px; height:5px; background:#032b45; display:block; margin-top:20px; border-radius:3px; margin-left:auto;margin-right:auto}
.btn-login{background: #0011ad; color:#ffffff; font-weight:600;}


.error-message {
  animation: shake 0.5s;
}

.btn-login {
  animation: pulse 12s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.btn-login:hover {
  transform: rotate(360deg);
}
input[type="submit"] {
  background-color: #02169d;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 20px #fff, 0 0 40px #fff, 0 0 60px #fff, 0 0 80px #fff;
  transition: all 0.5s ease-in-out;
}

input[type="submit"]:hover {
  box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff;
}