<style>
    /* Estilos para ocultar el contenido que no se imprimirá */
    @media print {
      .clases,
      .factura-profesional:not(.ventana-flotante) {
        display: none;
      }
    }
  </style>
  
  <div class="clases">
    <app-pantalla-empleado></app-pantalla-empleado>
  </div>
  
  <div class="containeunion">
  
    <div class="container1">
      <div class="imprime" style="height: 289px; overflow-y: scroll;">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Nro Factura</th>
              <th>Fecha</th>
              <th>Tipo de Pago</th>
              <th>Subtotal</th>
              <th>Total</th>
              <th>Persona</th>
              <th>Identificación</th>
              
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let venta of ventas">
              <td>{{venta.idVenta}}</td>
              <td>{{venta.fecha}}</td>
              <td>{{venta.tipoPago}}</td>
              <td>{{venta.subtotal}}</td>
              <td>{{venta.total}}</td>
              <td>{{venta.personaf.nombrePer}}</td>
              <td>{{venta.personaf.identificacion}}</td>
              <td><button class="btn" (click)="seleccionarVenta(venta)">Visualizar</button></td>
              <td><button class="btn" (click)="recargar()">Ocultar</button></td>
              <td><button class="btn" (click)="imprimirTabla()">Imprimir</button></td>
              
            </tr>
          </tbody>
        </table>
        <div>


        </div>
      

      </div>
    </div>
  
    <div id="ventanaFactura" class="factura-profesional" *ngIf="mostrarDetalleVenta">
        <h2>Comprobante</h2>
        <div class="info-empresa">
          <p>Nombre Empresa: {{ ventag.configEmpresa.nombreEmpresa }}</p>
          <p>RUC: {{ ventag.configEmpresa.ruc }}</p>
          <p>Teléfono: {{ ventag.configEmpresa.telefono }}</p>
          <p>Dirección: {{ ventag.configEmpresa.ubicacion }}</p>
          <p>Fecha: {{ ventag.fecha }}</p>
        </div>
  
        <div class="info-persona">
          <p>Nombres: {{ ventag.personaf.nombrePer }}</p>
          <p>Cédula: {{ ventag.personaf.identificacion }}</p>
          <p>Correo Electrónico: {{ ventag.personaf.correo }}</p>
          <p>Teléfono: {{ ventag.personaf.telefono }}</p>
          <p>Dirección: {{ ventag.personaf.direccion }}</p>
        </div>
  
        <div class="detalle-orden">
          <table>
            <thead>
              <tr>
                <th>Solicitante</th>
                <th>Orden</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let orden of ordenes">
                <td>{{ orden.personaO.nombrePer }}</td>
                <td>{{ orden.totalOrden }}</td>
              </tr>
            </tbody>
          </table>
        </div>
  
        <div class="total">
          <p>Tipo de Pago: {{ ventag.tipoPago }}</p>
          <p>Descuento: {{ ventag.descuento }}</p>
          <p>Subtotal: {{ ventag.subtotal }}</p>
          <p>IVA: {{ ventag.iva }}</p>
          <p>Total: {{ ventag.total }}</p>
        </div>
  
        
      </div>
    </div>
 
  