<style>
    /* Estilos para ocultar el contenido que no se imprimirá */
    @media print {
      .clases,
      .factura-profesional:not(.ventana-flotante) {
        display: none;
      }
    }
  </style>
  
  <div class="clases">
    <app-pantalla-empleado></app-pantalla-empleado>
  </div>
  
  <div class="containeunion">
   
    <div class="container1">
      <div class="imprime" style="height: 225px; overflow-y: scroll;">
        <table class="custom-table" id="fixed-header">
          <thead>
            <tr>
              <th>Nro Factura</th>
              <th>Fecha</th>
              <th>Tipo de Pago</th>
              <th>Subtotal</th>
              <th>Total</th>
              <th>Persona</th>
              <th>Identificación</th>
              
               <td><button class="btn" (click)= "mostrartodasventas()"><span>VER TODAS</span><img src="assets/imagenes/all.png"></button></td>
              
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let venta of ventas">
              <td>{{venta.idVenta}}</td>
              <td>{{venta.fecha}}</td>
              <td>{{venta.tipoPago}}</td>
              <td>{{venta.subtotal}}</td>
              <td>{{venta.total}}</td>
              <td>{{venta.personaf.nombrePer}}</td>
              <td>{{venta.personaf.identificacion}}</td>
              <td><button class="btn" (click)="seleccionarVenta(venta)"><span>Visualizar</span><img src="assets/imagenes/ver.png"></button></td>
<td><button class="btn" (click)="recargar()"><span>Ocultar</span><img src="assets/imagenes/nover.png"></button></td>
<td><button class="btn" (click)="imprimirTabla()"><span>Imprimir</span><img src="assets/imagenes/pdf.png"></button></td>
<td><button class="btn" (click)="selectVenta(venta)">Envia a email</button></td>
           
</tr>
          </tbody>
        </table>
        <div>
       </div>
      </div> 
    </div>
    <h2>Enviar Correo</h2>
    <form (submit)="enviarCorreoConAdjunto()">
      <div>
        <label for="correoDestinatario">Para:</label>
        <input type="email" id="correoDestinatario" name="correoDestinatario" [(ngModel)]="correoDestinatario" required>
      </div>
      <!-- Agrega otros campos del formulario si es necesario -->
      <!-- ... -->
  
      <button type="submit">Enviar</button>
    </form>
    <div id="ventanaFactura" class="factura-profesional" *ngIf="mostrarDetalleVenta">
        <h2>Comprobante</h2>
        <div class="info-empresa">
          <p>Nombre Empresa: {{ ventag.configEmpresa.nombreEmpresa }}</p>
          <p>RUC: {{ ventag.configEmpresa.ruc }}</p>
          <p>Teléfono: {{ ventag.configEmpresa.telefono }}</p>
          <p>Dirección: {{ ventag.configEmpresa.ubicacion }}</p>
          <p>Fecha: {{ ventag.fecha }}</p>
        </div>
  
        <div class="info-persona">
          <p>Nombres: {{ ventag.personaf.nombrePer }}</p>
          <p>Cédula: {{ ventag.personaf.identificacion }}</p>
          <p>Correo Electrónico: {{ ventag.personaf.correo }}</p>
          <p>Teléfono: {{ ventag.personaf.telefono }}</p>
          <p>Dirección: {{ ventag.personaf.direccion }}</p>
        </div>
  
        <div class="detalle-orden">
          <table>
            <thead>
              <tr>
                <th>Solicitante</th>
                
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let orden of ordenes">
                <td>{{ orden.personaO.nombrePer }}</td>
                <td>{{ orden.totalOrden }}</td>
              </tr>
            </tbody>
          </table>
        </div>
  
        <div class="total">
          <p>Tipo de Pago: {{ ventag.tipoPago }}</p>
          <p>Subtotal: {{ ventag.subtotal.toFixed(2) }}</p>
          <p>Descuento: {{ ventag.descuento.toFixed(2) }}</p>
          <p>IVA: {{ ventag.iva.toFixed(2) }}</p>
          <p>Total: {{ ventag.total }}</p>
        </div>
  
        
      </div>
    </div>
 
  