@media (max-width: 768px) {}

h1.aligned-right {
  text-align: center;
}


.pedido-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #3b88af;
  margin: 0;
  padding: 0;
  margin-left: 165px;
  padding: 102px;
  display: block;

}



.container {
  background: #3b88af;
  border-radius: 10px;
  width: auto;
  padding: 20px;
  margin: 10px;
 

}

.pedido-block label {
  font-weight: bold;
}

.pedido-block input[type="text"],
.pedido-block input[type="date"] {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
}
.btn-custom {
  background-color: #d35dd300;
  color: #fff;
  border-radius: 1px;
  border: none;
  padding: 5px 5px;
  font-size: 13px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}


.icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 1px;
  transition: transform 0.3s ease-in-out;
}


.btn-custom:hover .icon {
  transform: scale(1.2);
}

.text {
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
}
.table-container {
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
}



.custom-table {
  background: #ffffff;
  border-collapse: collapse;
  width: 100%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  animation: slideInFromLeft 0.5s ease-in-out;
}

.custom-table th, .custom-table td {
  border: 1px solid #000000; /* Borde de celda */
  padding: 7px; /* Espaciado interno */
  text-align: left; /* Alineación del texto */
}

.custom-table th {
  background-color: #065eb6;
  color: #000000;
}

.custom-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.custom-table tbody tr:hover {
  background-color: #ffffff;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
.ventana-container {
  position: relative; /* Use relative positioning */
  width: 100%; /* Adjust the width as needed */
  height: 100%; /* Adjust the height as needed */
  z-index: 1; /* Set a higher z-index to ensure it appears above other elements */
}

/* Styles for the floating window */
/*.ventana-flotante {
  position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}*/
#fixed-header {
  position: relative;
}

#fixed-header thead {
  position: sticky;
  top: 0;
  background-color: white;
}

