<app-navbar></app-navbar>

<style>
  /* Estilos para la ventana flotante */
  .ventana-flotante {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: auto;
    height: auto;
    padding: 20px;
    border: 1px solid black;
    border-radius: 3%;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    display: none;
    /* La ventana estará oculta inicialmente */
  }
</style>

<section class="pedido-block">
  <div class="encabezado" style="width: auto; flex-direction: column; align-items: center; justify-content: center; display: flex; padding-left: 200px;">
    <h1 style="text-align: center;">Configuración de la empresa</h1>
    <button onclick="mostrarVentana()">Ingresar Empresa</button>
  </div>
  <div id="ventana" class="ventana-flotante">
    <h1>Ingresar Empresa</h1>
    <div class="container">
      <form #empresaForm="ngForm" (ngSubmit)="guardarEmpresa()">
        <div class="form-group">
          <label for="nombreEmpresa">Nombre de la empresa:</label>
<input type="text" class="form-control" id="nombreEmpresa" [(ngModel)]="empresai.nombreEmpresa" name="nombreEmpresa" required>
<div *ngIf="empresaForm.controls['nombreEmpresa'].invalid && empresaForm.controls['nombreEmpresa'].touched" class="error-message">Nombre de la empresa es requerido.</div>
</div>

<div class="form-group">
  <label for="ruc">RUC:</label>
  <input type="text" class="form-control" id="ruc" [(ngModel)]="empresai.ruc" name="ruc" pattern="[0-9]{11}">
  <div *ngIf="empresaForm.controls['ruc'].invalid && empresaForm.controls['ruc'].touched" class="error-message">RUC inválido. Debe tener 11 dígitos.</div>
</div>

<div class="form-group">
  <label for="ubicacion">Dirección:</label>
  <input type="text" class="form-control" id="ubicacion" [(ngModel)]="empresai.ubicacion" name="ubicacion" required>
  <div *ngIf="empresaForm.controls['ubicacion'].invalid && empresaForm.controls['ubicacion'].touched" class="error-message">La direccion es requerida.</div>

</div>

<div class="form-group">
  <label for="telefono">Teléfono:</label>
  <input type="text" class="form-control" id="telefono" [(ngModel)]="empresai.telefono" name="telefono" pattern="[0-9]{7,10}">
  <div *ngIf="empresaForm.controls['telefono'].invalid && empresaForm.controls['telefono'].touched" class="error-message">Teléfono inválido. Debe tener entre 7 y 10 dígitos.</div>
</div>

        <button type="submit" class="btn btn-success" [disabled]="empresaForm.invalid" style="background-color: green;">Guardar Empresa</button>
        <button type="button" class="btn btn-danger" onclick="cerrarVentana()" style="background-color: red;">Cerrar</button>
      </form>
    </div>
  </div>


  <table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Nombre de la Empresa</th>
        <th scope="col">Ruc</th>
        <th scope="col">Dirección</th>
        <th scope="col">Teléfono</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let empresa of empresas">
        <td>{{empresa.idConfig}}</td>
        <td>{{empresa.nombreEmpresa}}</td>
        <td>{{empresa.ruc}}</td>
        <td>{{empresa.ubicacion}}</td>
        <td>{{empresa.telefono}}</td>
        <td><button class="btn btn-info" (click)="actualizarEmpresa(empresa.idConfig)">Editar</button></td>
        <td><button class="btn btn-danger" (click)="eliminarEmpresa(empresa.idConfig)"
            style="background-color: red;">Eliminar</button></td>
      </tr>
    </tbody>
  </table>
</section>