.h1{
    color: #fff;
    margin-left: 80px;
}


.pedido-block {
    display: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom right, rgb(19, 142, 241), rgb(201, 17, 155));
    width: auto;
    padding: 203px ;
   
    
}



.container {
    background: #D3D3D3;
    border-radius: 10px;
    width: auto;
    padding: 20px;
    margin: 10px;
    padding: -200px ;
   
}

  

.pedido-block label {
    font-weight: bold;
}

.pedido-block input[type="text"],
.pedido-block input[type="date"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

.pedido-block button {
    background: #0069c0;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    flex: 1;
}

.table{
    background: #D3D3D3;
    border-radius: 10px;
    padding: 220px;
    margin: 5px;
    width: 85%;
    margin-left: 180px;
}

.btnActualizar{
    background: rgb(95, 146, 95);
}
