.pedido-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom right, blue, pink);
  width: 100%;
  padding: 208px ;
  
}


.pedido-block label {
  font-weight: bold;
}

.pedido-block input[type="text"],
.pedido-block input[type="date"] {
  width: auto;
  padding: 5px;
  margin-bottom: 10px;
}

.pedido-block button {
  background: #0069c0;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  flex: 1;
}

.table{
  background: #D3D3D3;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  width: 90%;
 
}

.btnActualizar{
  background: green;
}