<app-navbar></app-navbar>
<section class="pedido-block">
   <h3>Lista Ordenes</h3>
    <div class="buscar">
        <form id="search-form" #miFormulario="ngForm">
            <label for="search-client">Buscar cliente:</label>
            <input type="text" [(ngModel)]="inputValue" name="miInput" placeholder="cédula" (blur)="verificarInput()">

            
            <button class="btn btn-custom" (click)="buscarporcedula()">
                <span class="icon">
                  <img src="assets/imagenes/buscar.png" alt="Imagen de búsqueda">
                </span>
                <span class="text">Buscar</span>
              </button>
               
           
            <button class="btn btn-custom" (click)="obtenerOrdenes()">
                <span class="icon">
                  <img src="assets/imagenes/cancelar.png" alt="Imagen de búsqueda">
                </span>
                <span class="text">Cancelar</span>
              </button>
        </form>
    </div>
    <div style="height: 130px; overflow-y: scroll;">
        <table class="custom-table" id="fixed-header">
        <thead>
            <tr>
                <th>Número de órden</th>
                <th>Estado</th>
                <th>Total de la órden</th>
                <th>Cédula</th>
                <th>Número de Venta</th>
                <th>Ver detalles</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let orden of ordenes">
                <td>{{orden.idOrden}}</td>
                <td>{{ obtenerTextoEstado(orden.estado) }}</td>
                <td>{{orden.totalOrden}}</td>
                <td>{{orden.personaO.identificacion}}</td>
                <td>{{orden.venta.idVenta}}</td>
                <td>
                    <img src="assets/imagenes/ver.png" alt="Imagen de venta" 
                    (click)="verOrden(orden.idOrden)"
                         style="width: 40px; height: 40px;" />
                  </td>
               
            </tr>

        </tbody>
    </table>
</div>
</section>

<script>

</script>