.btn-custom {
    background-color: #d35dd300;
    color: #fff;
    border-radius: 1px;
    border: none;
    padding: 5px 5px;
    font-size: 13px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
 .col-md-6{
  background-color: #7aa6e0;
 } 
  .btn-custom:hover {
    background-color: #7533a4;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  }
  
  .icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 1px;
    transition: transform 0.3s ease-in-out;
  }
  
  .btn-custom:hover .icon {
    transform: scale(1.2);
  }
  
  .text {
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
  }
  .maquina-block {
    background-color: #b4d7e8;
    padding: 210px;
  }
  