<app-navbar></app-navbar>
<section class="maquina-block">
<h2>Administración de máquina</h2>
<div class="col-md-6 offset-md-3">
    <h3 class="text-center">Registro de máquina nueva</h3>

    <form #maquinaForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="tamano">Tamaño:</label>
          <input type="text" class="form-control" id="tamano" [(ngModel)]="maquina.tamano" name="tamano" required>
          <div *ngIf="maquinaForm.controls['tamano'].invalid && maquinaForm.controls['tamano'].touched" class="error-message">
            <div *ngIf="maquinaForm.controls['tamano'].hasError('required')">Tamaño es requerido.</div>
          </div>
        </div>
      
        <div class="form-group">
            <label for="precio">Precio:</label>
            <input type="number" class="form-control" id="precio" [(ngModel)]="maquina.precio" name="precio" required inputmode="numeric">
            <div *ngIf="maquinaForm.controls['precio'].invalid && maquinaForm.controls['precio'].touched" class="error-message">
              <div *ngIf="maquinaForm.controls['precio'].hasError('required')">Precio es requerido.</div>
              <div *ngIf="maquinaForm.controls['precio'].hasError('pattern')">Ingrese solo números.</div>
            </div>
          </div>
          
          
         
        
          <button type="submit" class="btn btn-custom"  onclick="guardarMaquina()">
            <span class="icon">
              <img src="assets/imagenes/save.png" alt="Imagen de búsqueda">
              <span class="text">Guardar</span>
            </span>
          </button>

        
        <button type="button" routerLink="/maquina-admin"class="btn btn-custom">
          <span class="icon">
            <img src="assets/imagenes/cancelar.png" alt="Imagen de búsqueda">
            <span class="text">Cancelar</span>
          </span>
        </button>
      </form>


    </div>
  </section>