

.button-container {
  display: flex;
  flex-direction: column;
}

.button {
  margin-bottom: 10px;
}

.dash{
  background-color: #ccc;
}

.button {
  display: block;
  width: 90%;
  padding: 25px;
  border: none;
  background-color: transparent;
  text-align: left;
  cursor: pointer;
  
}

.button:hover {
  background-color: #ccc;
}

.content {
  flex-grow: 1;
  
 
}
.home-block{
  background-image: linear-gradient(to top, #b71cff 0%, #3084f1 100%);
 
  width:100%;
  background: #44a6d6;  /* fallback for old browsers */
  
  display: block;
 
  padding: 368px;
}
.letter-animation {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.letter-animation span {
  animation: letter-effect 1s infinite;
}
