

.button-container {
  display: flex;
  flex-direction: column;
}

.button {
  margin-bottom: 10px;
}



.button {
  display: block;
  width: 90%;
  padding: 25px;
  border: none;
  background-color: transparent;
  text-align: left;
  cursor: pointer;
  
}

.button:hover {
  background-color: #ccc;
}

.content {
  flex-grow: 1;
  
 
}
.home-block {
  background-image: linear-gradient(to top, #b71cff 0%, #3084f1 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
  padding-left: 400px;
}
.letter-animation {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.letter-animation span {
  animation: letter-effect 1s infinite;
}
