 <app-navbar></app-navbar>
 <body>
<main role="main" class="container mt-5">
  <div class="container">
    <div class="text-center mt-5">  
    </div>
    <div class="container">
      <div class="sidebar">
        <div class="button-container">
          <button class="button" (click)="RegistraCliente()">Registrar Cliente</button>
          <button class="button" (click)="RegistraMaquina()">Administración Máquinas</button>
          <button class="button" (click)="Venta()">Reporte Ventas</button>
          <button class="button" (click)="Orden()">Revisar Órdenes</button>
          <button class="button" (click)="Config()">Configuración Empresa</button>
          <button class="button" (click)="CrearEmple()">Crear Empleado</button>
          <button class="button" (click)="AdminServicio()">Administrar Servicios</button>
        </div>
      </div>
      <div class="content">
        <h3>Pagina Principal</h3>
      </div>
    </div>
    
  </div>
</main>
</body>
