  <app-navbar></app-navbar>
 
  <section class="admin-block">
   
      <h2 class="text-center">Bienvenido a LAVATEC</h2>
      <base href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/wanaka-tree.jpg">
      <div id="carousel">
        <figure id="spinner" #spinner>
          
            <img src="assets/imagenes/MA.png" alt (click)="abrirUrl('https://drive.google.com/file/d/1CISPgacBkXdPgUxuCz8O70bbU_YNHlwz/view?usp=sharing')">
            <img src="assets/imagenes/CONOCENOS.png" alt="Descripción de la imagen" (click)="abrirInformacion()">
            <img src="assets/imagenes/diagrama.png" alt (click)="abrirUrl2('https://drive.google.com/drive/folders/1xqCdDKJ_XLiTmzJJSgXqOXgAqOzT9Ocd?usp=sharing')">
            <img src="assets/imagenes/im.gif" alt="Descripción de la imagen">
            <img src="assets/imagenes/lava.gif" alt="Descripción de la imagen">
            <img src="assets/imagenes/registrar.png" alt="Descripción de la imagen" (click)="abrirInformacion1()">
        </figure>
      </div>
      <span style="float:left" class="ss-icon modificacion" (click)="galleryspin(true)">&lt;</span>
      <span style="float:right" class="ss-icon " (click)="galleryspin(false)">&gt;</span>
      