body {
    --background-color: #3c86e7;
    background: -webkit-linear-gradient(90deg, var(--background-color) 10%, #8cc8ac 90%);
    background: -moz-linear-gradient(90deg, var(--background-color) 10%, #8cc8ac 90%);
    background: -ms-linear-gradient(90deg, var(--background-color) 10%, #8cc8ac 90%);
    background: -o-linear-gradient(90deg, var(--background-color) 10%, #8cc8ac 90%);
    background: linear-gradient(90deg, var(--background-color) 10%, #8cc8ac 90%);
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
  }
  .button-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    justify-items: center;
    align-items: center;
    width: 300px; 
    height: 300px; 
    margin: 0 auto; /* Centra horizontalmente */
  }
  
  .button {
    background-color: #074daad5;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #8cc8ac;
  }
  
  
  
  body::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 980%;
    height: 10%;
    pointer-events: none;
    background-image: url("/assets/imagenes/burbuja.gif");
    background-repeat: repeat;
    animation: bubbles 5s infinite;
  }
  
  @keyframes bubbles {
    0% {
      transform: translate(-50%, 0);
    }
    50% {
      transform: translate(-50%, -5%);
    }
    100% {
      transform: translate(-50%, 0);
    }
  }