<!DOCTYPE html>
<html>
<body>
	<header>
		<img src="assets/imagenes/tec.png" alt="Logo de la página web">
		
		<h1>LAVATEC</h1>
		<p>Es un sistema de gestión.</p>
	</header>
	<main>
		<h2>Equipo de Desarrollo</h2>
		<ul>
			<li>
				<h3>Marcos Pilco</h3>
				<p>Estudiante de la carrera de desarrollo de software cursando el quinto ciclo paralelo M5A</p>
			</li>
			<li>
				<h3>Kevin Ortiz</h3>
				<p>Estudiante de la carrera de desarrollo de software cursando el quinto ciclo paralelo M5A</p>
			</li>
			<li>
				<h3>Josue Suarez</h3>
				<p>Estudiante de la carrera de desarrollo de software cursando el quinto ciclo paralelo M5A</p>
			</li>
			<li>
				<h3>Oscar Cabrera</h3>
				<p>Estudiante de la carrera de desarrollo de software cursando el quinto ciclo paralelo M5A</p>
			</li>
		</ul>
	</main>
	<footer>
        <div class="footer-container">
          <div class="contact-info">
            <h3>Contacto</h3>
            <p>0979247859</p>
          </div>
          <div class="system-info">
            <h3>Para hacer posible este sistema de gestión se usó:</h3>
            <p>NetBeans con el jdk17</p>
            <p>Visual Studio Code versión 1.80.0</p>
            <h3>Lenguajes de programación usados:</h3>
            <p>Java</p>
            <p>Angular</p>
          </div>
          <img src="assets/imagenes/logo.png" alt="Descripción de la imagen" class="footer-image">
        </div>
      </footer>
</body>
</html>