<app-navbar></app-navbar>
<nav class="nav">
<section class="block-pantalla-emple">
      <div class="sidebar">
        <div class="button-container">
          <button class="button">Órdenes</button>
          <button (click)="irAlapaginaempleados()" class="button">Crear órden</button>
          <button (click)="Ventas()"class="button">Generar venta</button>
          <button class="button">Revisar órdenes</button>
          <button class="button"></button>
          <button class="button"></button>
          <button class="button"></button>
        </div>
      </div>
    

</section></nav>