<body>
    <app-navbar></app-navbar>
  <main role="main" class="container mt-5">
    <div class="container">
      <div class="text-center mt-5">
        <h3>Pagina Principal</h3>
        <h4>BIENVENIDO EMPLEADO</h4>
        
      </div>
      <div class="button-container">
        <button class="button" >ORDENES</button>
        <button (click)= "CrearOrden()"class="button">CREAR NUEVA ORDEN</button>
        <label for="cedula">Cedula:</label>
        
        <input type="text" id="cedula" name="cedula" [value]= "idordenultimo" 
         [(ngModel)]= "idordenultimo"
         disabled>
        
        
         <button class="button">VENTA</button>
        <button class="button">Revisar Ordenes</button>
        <button class="button">INFOXXX</button>
        <button class="button">INFOXXX</button>
        <button class="button">INFOXXX</button>
      </div>
    </div>
  </main>
  </body>
  