.sidebar {
  display: flex;
  position: absolute;
  top: 37px;
  left: 100px;
  width: 0px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 200px;
  background: linear-gradient(to bottom, #04d1ec, #9701c5);
  margin-left: -115px; 
  margin-top: 49px;
  

}


.button-container {
  padding: 5px;
  border-bottom: 1px solid #ccc;
}

.button-container:last-child {
  border-bottom: none;
}

.button-container {
  display: flex;
  flex-direction: column;
  border: #b8babbfd;
}

.button {
  margin-bottom: 10px;
}

.button {
  display: block;
  width: 90%;
  padding: 25px;
  border: none;
  background-color: transparent;
  text-align: left;
  cursor: pointer;
  height: 77px;
}

.button:hover {
  background-color: #ccc;
}

.content {
  flex-grow: 1;


}

