
.sidebar {
  display: flex;
  position: absolute;
  top: 27px;
  left: 100px;
  width: 0px;
  background-color: #f2f2f2;
  padding: 15px;
  width: 200px;
  background-color: #1844d6;
  margin-left: -121px; 
  margin-top: 49px;
  
}
.nav {

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  
}

.button-container {
  padding: 5px;
  border-bottom: 1px solid #ccc;
}

.button-container:last-child {
  border-bottom: none;
}

.button-container {
  display: flex;
  flex-direction: column;
  border: #b8babbfd;
}

.button {
  margin-bottom: 10px;
}

.button {
  display: block;
  width: 90%;
  padding: 25px;
  border: none;
  background-color: transparent;
  text-align: left;
  cursor: pointer;
  height: 77px;
}

.button:hover {
  background-color: #ccc;
}

.content {
  flex-grow: 1;


}

