<section class="pedido-block">
    <h1>Lista de Ordenes</h1>
    <h4>Detalle de la Orden</h4>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Numero de Orden</th>
                <th scope="col">Estado</th>
                <th scope="col">Total Orden</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <ng-container *ngFor="let orden of ordenes; let persona ">
                    <td>{{orden.idOrden}}</td>
                    <td>{{orden.estado}}</td>
                    <td>{{orden.totalOrden}}</td>
                </ng-container>
            </tr>
        </tbody>
    </table>
    <br>
    <h4>Detalle Venta</h4>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Numero de Venta</th>
                <th scope="col">Fecha</th>
                <th scope="col">Tipo de Pago</th>
                <th scope="col">subtotal</th>
                <th scope="col">descuennto</th>
                <th scope="col">iva</th>
                <th scope="col">total</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <ng-container *ngFor="let orden of ordenes; let persona ">
                    <td>{{orden.venta.idVenta}}</td>
                    <td>{{orden.venta.fecha}}</td>
                    <td>{{orden.venta.tipoPago}}</td>
                    <td>{{orden.venta.subtotal}}</td>
                    <td>{{orden.venta.descuento}}</td>
                    <td>{{orden.venta.iva}}</td>
                    <td>{{orden.venta.total}}</td>
                </ng-container>
            </tr>
        </tbody>
    </table>
    <br>
    <h4>Detalle Persona</h4>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Correo Electronico</th>
                <th scope="col">Cedula de Identificacion</th>
                <th scope="col">Direccion</th>
                <th scope="col">Telefono</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <ng-container *ngFor="let orden of ordenes; let persona ">
                    <td>{{orden.personaO.nombrePer}}</td>
                    <td>{{orden.personaO.correo}}</td>
                    <td>{{orden.personaO.identificacion}}</td>
                    <td>{{orden.personaO.direccion}}</td>
                    <td>{{orden.personaO.telefono}}</td>
                </ng-container>
            </tr>
        </tbody>
    </table>

    <button class="btn btn-success" (click)="irOrdenes()" style="background-color: pink;">Regresar</button>
</section>