<app-navbar></app-navbar>
<section class="pedido-block">
    <h1>Lista de Órdenes</h1>
    <h4>Detalle de órdenes</h4>
    <div style="height: 100px; overflow-y: scroll;">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Número de Órdenes</th>
                <th scope="col">Estado</th>
                <th scope="col">Total de la Órden</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ordenesO.idOrden}}</td>
                <td>{{ordenesO.estado}}</td>
                <td>{{ordenesO.totalOrden}}</td>
            </tr>
        </tbody>
    </table>
</div>
    <br>
    <h4>Detalle de venta</h4>
    <div style="height: 100px; overflow-y: scroll;">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Número de venta</th>
                <th scope="col">Fecha</th>
                <th scope="col">Tipo de Pago</th>
                <th scope="col">Subtotal</th>
                <th scope="col">Descuento</th>
                <th scope="col">Iva</th>
                <th scope="col">Total</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                    <td>{{ordenesO.venta.idVenta}}</td>
                    <td>{{ordenesO.venta.fecha}}</td>
                    <td>{{ordenesO.venta.tipoPago}}</td>
                    <td>{{ordenesO.venta.subtotal}}</td>
                    <td>{{ordenesO.venta.descuento}}</td>
                    <td>{{ordenesO.venta.iva}}</td>
                    <td>{{ordenesO.venta.total}}</td>
            </tr>
        </tbody>
    </table>
</div>
    <br>
    <h4>Detalle de persona</h4>
    <div style="height: 100px; overflow-y: scroll;">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Correo Electronico</th>
                <th scope="col">Cedula de Identificación</th>
                <th scope="col">Dirección</th>
                <th scope="col">Teléfono</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                    <td>{{ordenesO.personaO.nombrePer}}</td>
                    <td>{{ordenesO.personaO.correo}}</td>
                    <td>{{ordenesO.personaO.identificacion}}</td>
                    <td>{{ordenesO.personaO.direccion}}</td>
                    <td>{{ordenesO.personaO.telefono}}</td>
            </tr>
        </tbody>
    </table>
</div>
    <button class="btn btn-success" (click)="irOrdenes()">Regresar</button>
</section>