<app-navbar></app-navbar>

<section class="admin-block">
<div class="container" >
    <h1>Administración de clientes</h1>
    <table class="table table-striped">
        <div style="height: 225px; overflow-y: scroll;">
        <table class="custom-table" id="fixed-header">
              <thead>
            <tr>
                <th>Nombre</th>
                <th>Dirección</th>
                <th>Teléfono</th>
                <th>Correo</th>
                <th>Cédula</th>
                <th>Editar</th>
                <th>Eliminar</th>
                
                
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let persona of persona">
                <td>{{ persona.nombrePer }}</td>
                <td>{{ persona.direccion }}</td>
                <td>{{ persona.telefono }}</td>
                <td>{{ persona.correo }}</td>
                <td>{{persona.identificacion}}</td>
                
                <td>
                   
                    <button (click)= "actualizarPersona(persona.idPersona)" class="btn btn-custom">
                        <span class="icon">
                          <img src="assets/imagenes/editar.png" alt="Imagen de búsqueda">
                        </span>
                       
                      </button>
                    </td>
                    <td>
                    <button (click)= "eliminarPersona(persona.idPersona)" class="btn btn-custom">
                        <span class="icon">
                          <img src="assets/imagenes/eliminar.png" alt="Imagen de búsqueda">
                        </span>
                       
                      </button>
                </td>
            </tr>
        </tbody>
    </table>
    <div style="text-align: center;">
 </div>
    </div>
    <div>
    <button class="btn btn-custom" routerLink="/persona" style="margin-left: 10px;">
        <span class="icon">
          <img src="assets/imagenes/add.png" alt="Imagen de búsqueda">
        </span>
        <span class="text">Crear</span>
      </button>
    </div>


