
.register-block {
  width: 88vw;
 
  display: flex;

  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  margin-left: 177.5px;
  padding: 161.1px;
 
   /* Gradiente animado */
   background: linear-gradient(45deg, #5d3ee7, #3b88af, #835a5a);
   background-size: 200% 200%;
   animation: gradientAnimation 7s infinite;
}
@keyframes gradientAnimation {
0% {
  background-position: 0% 50%;
}
50% {
  background-position: 100% 50%;
}
100% {
  background-position: 0% 50%;
}
}

@media (max-width: 768px) {
  /* Estilos para pantallas con un ancho máximo de 768px */
}

.selected {
  background-color: rgb(94, 168, 230);
  font-weight: bold;
}


#search-form button[type="submit"] {
  background: linear-gradient(to bottom, #5458a1 0%, #494fb4 100%);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 250px;
}

.table-bordered {
  background: #f1efef;
  border-radius: 10px;
  width: 40%;
  height: 30%;
  margin-bottom: -20%;
  position: absolute;
  margin-left: 25%;
}
.table-bordered th,
.table-bordered td {
  border: 1px solid #000000;
  padding: 8px;
  text-align: left;
}

.container {
  background: #1d1c2b;
  border-radius: 10px;
  width: 40%;
  height: 40%;
  margin-left: -5%;
}
.form-group {
  color: rgb(251, 251, 255);
}
.text-center{
  color: rgb(251, 251, 255);
}

.register-sec {
  padding: 50px 30px;
  position: relative;
}

.register-sec h2 {
  margin-bottom: 30px;
  font-weight: 800;
  font-size: 30px;
  color: #0069c0;
  text-align: center;
  text-transform: uppercase;
}

.register-sec h2:after {
  content: " ";
  width: 100px;
  height: 5px;
  background: #6ec6ff;
  display: block;
  margin: 20px auto;
  border-radius: 3px;
}

.btn-login {
  background: linear-gradient(to bottom, #5458a1 0%, #494fb4 100%);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50px;
}
.btn-login:hover {
  background: linear-gradient(to bottom, #ba9fce 0%, #9b4dca 100%);
  box-shadow: 0px 1px 1px rgba(121, 9, 9, 0.754);
}

.btn-icon {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}
