
.register-block {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  float:left;
  width:100%;
  padding: 202px;
  background: #3b88af; 
  display: block;
}


@media (max-width: 768px) {
  
}

.selected {
  background-color: rgb(94, 168, 230);
  font-weight: bold;
}

body {
  background-color: lightgray;
  background: #D3D3D3;
    border-radius: 10px;
    width: 40%;
    height: 30%;
    margin-left: 500px; 
    margin-top: -400px;
    
}
#search-form button[type="submit"] {
  background-color: rgb(39, 146, 196); /* Cambia el color a tu preferencia, aquí hemos usado azul como ejemplo */
  color: white; /* Cambia el color del texto dentro del botón a blanco */
  border: none; /* Eliminamos el borde para un aspecto más limpio */
  padding: 5px 15px; /* Ajusta el espaciado interno del botón según tus preferencias */
  border-radius: 5px; /* Añade esquinas redondeadas al botón */
  cursor: pointer; /* Cambia el cursor cuando se pasa sobre el botón */
  margin-left: 250px; 
}

 .table-bordered{
  background: #D3D3D3;
  border-radius: 0px;
  width: 40%;
  height: 30%;
  margin-left: 55%; 
  margin-top: -220px;
  
 }
 
.container{
 
  background:#D3D3D3; 
  border-radius: 10px; 
  width: 40%; 
  height: 40%;  
  margin-left: 110px; }
.register-sec{padding: 50px 30px; position:relative;}
.register-sec h2{margin-bottom:30px; font-weight:800; font-size:30px; color: #0069c0;}
.register-sec h2:after{content:" "; width:100px; height:5px; background:#6ec6ff; display:block; margin-top:20px; border-radius:3px; margin-left:auto;margin-right:auto}
.btn-login{background: #0069c0; color:#fff; font-weight:600;}
