<app-navbar></app-navbar>
<h2>Administración de máquinas</h2>
<section class="actmaquina-block">
<div class="col-md-6 offset-md-3">
    <h3 class="text-center">Edición de maquinaria</h3>
    <form (ngSubmit)= "onSubmit()" #empleadoForm = "ngForm">

        <div class="form-group">
            <label>Tamaño: </label>
            <input type = "text"
            class="form-control"
            id = "nombre"
            [(ngModel)] = "maquina.tamano"
            name = "tamaño"
            placeholder="Digite el nuevo tamaño "
            #nombre = "ngModel"
            >
            
          </div>
      
          
          <div class="form-group">
            <label>Precio : </label>
            <input type = "number"
            class="form-control"
            id = "precio"
            [(ngModel)] = "maquina.precio"
            name = "precio"
            
            placeholder="Digite el nuevo precio "
            #apellido = "ngModel"
            >
            
          </div>


         
      
          <button class="btn btn-success" [disabled]= "!empleadoForm.form.valid">Guardar</button>
          <button class="btn btn-danger" routerLink="/maquina-admin" style="margin-left : 10px">Cancelar</button>


    </form>




</div></section>